.myNavbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: #000;
}

.myNavbarLinks {
  margin-left: auto;
}

.myNavbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
